<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Scrape News</a>

  <button type="button" class="btn btn-primary getArticles" href="/articles">Get Articles</button>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1>News Scraper</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
<div id = "articles"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
<div id="notes"></div>
</div>
</div>
    
</div>

